/* Move down content because we have a fixed navbar that is 50px tall */
#editmodtaskGrid {
	height : 330px!important;
}

#edithdtaskGrid{
	background-color: #65553c !important;
}
#vspan{
	height: 35px;
}